<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css" text="stylesheet/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/javascript/index.js"></script>
        <title>Epic Number Game</title>
    </head>
    <body class="bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-5 content-box bg-white border rounded">
                    <div class="row justify-content-center bg-success rounded py-2 mb-4">
                        <h2 id="updateNum" class="text-center text-white">The button has been pushed 0 times</h2>
                    </div>
                    <div class="row justify-content-center">
                        <h6 class="text-center mb-3">Push the button to update the count!</h6>
                    </div>
                    <div class="row justify-content-center mb-4">
                        <button id="count" class="btn btn-success"><h5>Push the EPIC button!</h5></button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 reset-box">
                    <div class="row justify-content-center">
                        <button id="reset" class="btn btn-danger border">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>